*{
    margin: 0 auto;
    padding: 0px;
}

.poppins-font{
    font-family: "Poppins", sans-serif;
    font-weight: auto;
    font-style: normal;
    color: #3A3A3A;
}

body{
    max-width: 1440px;
}

/* header section style */

.header-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-top: 90px;
}
.nav-bar{
    width: 50%;
    margin-right: 0px;
}
.brand-name{
    width: 50%;
    margin-left: 0px;
    font-size: 1.5rem;
    font-weight: 600;
}
.nav-bar ul{
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
}
.nav-bar ul li, a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 20px;

}
.nav-bar img{
    width: 25px;
    height: 25px;
}

.header-banner-area{
    width: 1200px;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-size: 3.1rem;
    font-weight: 600;
}
.banner-description{
    margin: 16px 0px;
}
button{
   padding: 10px 20px 10px 0px;
   border-radius: 41px;
   background-color: #E02C6D;
   border: none;
   font-size: 1.3rem;
}
button a{
    color: white;
}
.fa-arrow-right{
    margin-left: 15px;
}

.banner-image{
    background-image: url(./images/circle-design.svg) no-repeat center;
    background-size: cover;
}
.banner-image img{
    width: 440px;
    height: 414px;
    margin-top: 80px;
    margin-right: 45px;
}
